<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_URI} ^/userdata
    RewriteCond %{REQUEST_URI} !^/userdata/public
    RewriteRule ^userdata/(.*)$ userdata/public/$1 [L]

    RewriteCond %{REQUEST_URI} !^public
    RewriteCond %{REQUEST_URI} !^/userdata
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>